.form {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

 input, select {
    border: 1px, solid, rgb(214, 217, 220);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px;  
    width: 150px;
    
}

select {
    width: 115px;
    font-size: 15px;
}

input[type="number"] {
    width: 120px;
}